Bex/_build/*.opensdf
Bex/_build/*.sdf
Bex/_build/*.suo
Bex/_build/ipch
Bex/_build/*.vcxproj.user
_intermediate
_output
boost/include
boost/lib
boost/boost_1_*.7z
openssl/openssl-1.0.1h
openssl/VS2010/out32/*
openssl/VS2013/out32/*
!openssl/VS2010/out32/*.7z
!openssl/VS2013/out32/*.7z
Bex/_build/test_linux/Debug
Bex/_build/test_linux/Makefile.old
Bex/_build/test_linux/VisualGDBCache
Bex/_build/test_linux/gcc_Debug.h
Bex/_build/test_linux/gcc_Release.h
Bex/_build/test_linux/test_linux.vcxproj.user
Bex/cmake/CMakeCache.txt
Bex/cmake/CMakeFiles
Bex/cmake/Makefile
Bex/cmake/cmake_install.cmake
q
