Bex/_build/*.opensdf
Bex/_build/*.sdf
Bex/_build/*.suo
Bex/_build/ipch
Bex/_build/*.vcxproj.user
_intermediate
_output
boost/include
boost/lib
boost/boost_1_*.7z
openssl/VS2013/out32/*.exe
openssl/VS2013/out32/*.lib
openssl/VS2013/out32/*.pdb
openssl/VS2010/out32/*.exe
openssl/VS2010/out32/*.lib
openssl/VS2010/out32/*.pdb
q
